DATABASE_URL=postgresql+asyncpg://postgres.sbxwctgllpysichfxctq:1AWwmPJyHa5fuswb@aws-0-us-east-2.pooler.supabase.com:5432/postgres?ssl=require
OPENAI_API_KEY=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
OPENAI_MODEL=gpt-4.1-mini
